/* Clock Container Styling */
.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 97vh;
  background: lightblue; 
  color: #ffffff; /* White text */
  font-family: "Times New Roman", Times, serif; /* Digital font look */
}

/* Time Styling */
#clock {
  font-size: 60px;
  font-weight: bold;
  margin: 10px 0;
  color: #eea731;
}

/* Date Styling */
#date {
  font-size: 22px;
  opacity: 0.9;
}
